<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>App详情 </title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<link href="__PJ__/home/css/swiper.min.css" rel="stylesheet">
	<link href="__PJ__/home/css/100ec_style.css" rel="stylesheet">
	<link href="__PJ__/home/css/dataStyle.css" rel="stylesheet">
	<script src="__PJ__/home/js/jquery.min.js"></script>
</head>
<body>

<if condition="$vip eq 1 ">
	<include file="Public/dsb-warn"/>
</if>

<include file="Public/dsb-header"/>
<include file="Public/dsb-left-nav"/>


<div class="dsj-wrapper">
	<div class="sjk-wrapper sjk-bg4">
		<div class="tool-group">
			<div class="position"><p>当前位置：<span id="position">APP详情</span></p></div>
			
		</div>
	</div>
	<div class="sjk-wrapper sjk-bg4">
		<div class="app-group app-info-group">
			<div class="app-logo">
				<img id="logo" src="http://www.100ec.cn/Public/home/images/icon-app-logo-loading.png" alt="">
			</div>	
			<div class="app-main-info">
				<p class="name" id="trackName">应用名</p>
			</div>
		</div>
		<div class="app-group">
			<div class="app-sub-info ">
				<div class="app-sub-info-item">
					<div class="app-info-label">开发者</div>
					<div class="app-sub-info-context"><p id="artist">-</p></div>
				</div>
				<div class="app-sub-info-item">
					<div class="app-info-label">用户平均评分</div>
					<div class="app-sub-info-context"><p id="rating">-</p></div>
				</div>
				<div class="app-sub-info-item">
					<div class="app-info-label">分类</div>
					<div class="app-sub-info-context"><p id="genre">-</p></div>
				</div>
				<div class="app-sub-info-item">
					<div class="app-info-label">App ID</div>
					<div class="app-sub-info-context"><p id="trackId">-</p></div>
				</div>
				<div class="app-sub-info-item">
					<div class="app-info-label">价格</div>
					<div class="app-sub-info-context"><p id="price">-</p></div>
				</div>
				<div class="app-sub-info-item">
					<div class="app-info-label">最新版本</div>
					<div class="app-sub-info-context"><p id="currentVersion">-</p></div>
				</div>
				<div class="app-sub-info-item">
					<div class="app-info-label">最新版本发布日期</div>
					<div class="app-sub-info-context"><p id="currentVersionReleaseDate">-</p></div>
				</div>
				<div class="app-sub-info-item">
					<div class="app-info-label">地区</div>
					<div class="app-sub-info-context"><p>中国</p></div>
				</div>
			</div>
		</div>
		
	</div>


	<div class="sjk-wrapper sjk-bg4">
		<div class="app-group">
			<div class="sjk-title">应用截图</div>
			<div class="swiper-container" id="appSwiper">
		        <div class="swiper-wrapper">
		           
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		        <div class="swiper-button-next"></div>
            	<div class="swiper-button-prev"></div>
		    </div>
		</div>
		<div class="app-group">
			<div class="sjk-title">应用描述</div>
			<p class="app-description" id="description">-</p>
		</div>
		<div class="app-group">
			<div class="sjk-title">新内容<p class="app-version-info">-</p></div>
			<p class="app-description" id="releaseNotes">-</p>
		</div>
		<div class="app-group">
			<div class="sjk-title">基本信息（iOS）</div>
			<ul class="app-info-ul">
				<li class="app-info-ul-item">
					<div class="info-row-label">供应商</div>
					<div class="info-row-content" id="sellerName">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">大小</div>
					<div class="info-row-content" id="fileSizeBytes">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">类別</div>
					<div class="info-row-content" id="genre2">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">兼容性</div>
					<div class="info-row-content" id="minimumOsVersion">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">语言</div>
					<div class="info-row-content" id="lang">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">年龄分级</div>
					<div class="info-row-content" id="contentAdvisoryRating">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">bundle Id</div>
					<div class="info-row-content" id="bundleId">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">价格</div>
					<div class="info-row-content" id="price2">-</div>
				</li>
				<li class="app-info-ul-item">
					<div class="info-row-label">发布日期</div>
					<div class="info-row-content" id="releaseDate">-</div>
				</li>
			</ul>
		</div>
		<div class="app-group">
			<div class="sjk-title">近期评论</div>
			<ul class="app-customerreviews" id="feedList">
				
			</ul>
		</div>
	</div>

	<include file="Public/footer"/>
</div>
<script src="__PJ__/home/js/swiper4.min.js"></script>
<script src="__PJ__/home/js/sjk/dataCgy_appStoreRank.js"></script>
<script src="__PJ__/home/js/sjk/rating.js"></script>
<script src="__PJ__/home/js/sjk/appStoreDetail.js"></script>
<script>

	
</script>

</body>
</html>