<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>App Store数据库</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<link href="__PJ__/home/css/100ec_style.css" rel="stylesheet">
	<link href="__PJ__/home/css/dataStyle.css" rel="stylesheet">
	<script src="__PJ__/home/js/jquery.min.js"></script>
</head>
<body>
	
<if condition="$vip eq 1 ">
	<include file="Public/dsb-warn"/>
</if>
<!-- 11111111 -->

<include file="Public/dsb-header"/>
<include file="Public/dsb-left-nav"/>


<div class="dsj-wrapper">
	<div class="sjk-wrapper sjk-bg4">
		<div class="tool-group">
			<div class="position"><p>当前位置：<span id="position">App Store榜单数据</span></p></div>
			<div class="search-box">
				<input type="text" name="name" id="name" placeholder="应用名/开发者/appId" autocomplete="off">
				<span id="searchBtn">搜索</span>
			</div>
			<if condition="$vip eq 2 ">
				<div class="sjk-change-status-box" id="screenshotBtn">
					<div class="sjk-change-status-in-box">
						<div class="sjk-change-status-circle"></div>
					</div>
				</div>
			</if>
		</div>
		<if condition="$vip eq 2 ">
	        <!-- 电数宝工具组件 -->
	    	<include file="Public/dsb-tools"/>
	    </if>
	</div>
	<div class="sjk-bg4">
		<div class="sjk-wrapper" style="padding: 5px 0">
			<div class="search-type">
				<div class="search-type-label"><p>榜单</p></div>
				<ul class="search-type-list" id="feedType">
					
				</ul>
			</div>
			<div class="search-type">
				<div class="search-type-label"><p>分类</p></div>
				<ul class="search-type-list" id="genreType">
				</ul>
			</div>
			<div class="search-type">
				<div class="search-type-label"><p>设备</p></div>
				<ul class="search-type-list" id="eqpType">
					<li class="active" data-eqpType='iphone'>iPhone</li>
					<li data-eqpType='ipad'>iPad</li>
				</ul>
			</div>
		</div>

	</div>
	<div class="sjk-wrapper">

		<div class="sjk-table app-store-rank">

			<div class="screenshot-table-title">
				<p id="screenName">AppStore 榜单</p>
				<p class="app-rank-sub"><!-- <span id="cgy"></span> --><span id="eqp"></span><span id="feedTime"></span></p>
			</div>

			<div class="sjk-data-title">
				<div class="s-d-t-item item-small" id="allChoose">全选</div>
				<div class="s-d-t-item item-small">排名</div>
				<div class="s-d-t-item app-label-logo item-small">Logo</div>
				<div class="s-d-t-item app-label-name">应用</div>
				<div class="s-d-t-item app-label-artist">开发者</div>
				<div class="s-d-t-item app-label-cgy item-small">分类</div>
				<div class="s-d-t-item app-label-date">上架时间</div>
			</div>

			<ul class="app-store-list sjk-data-content" id="dataList">
			</ul>
			<div class="screenshot-table-footer clearfix">
				<p id="appSub"></p>
				<p>图表编制：网经社(WWW.100EC.CN)</p>
				<p>数据来源：App Store官方数据</p>
			</div>
		</div>
		<div class="load-btn" id="loadBtn">查看更多</div>
		
		<div class="sjk-form bz-form" style="color: #ccc">
			<p>1、AppStore榜单所有数据均来自于苹果App Store官方数据。</p>
			<p data-type="topfree">2、AppStore免费榜排名规则以下载量为主要依据，以下算法公式仅供参考：总值 = 当天下载量 × 8 + 昨天下载量 × 5 + 前天下载量 × 5 + 大前天下载量 × 2。</p>
			<p data-type="toppaid">3、AppStore付费榜排名规则以下载量、权重用户下载量为主要依据。</p>
			<p data-type="topgrossing">4、AppStore畅销榜排名规则以app的收入情况为主要依据（新增付费用户率、老用户二次付费率、单日收费额、月收费额）。</p>
			<p>5、为确保图表工具的正常显示以及使用，请使用除IE以外的主流浏览器（如：Firefox、Google Chrome、Safari、Opera等浏览器）。</p>
			
		</div>
	</div>
	<include file="Public/footer"/>
</div>

<script src="__PJ__/home/js/sjk/dataCgy_appStoreRank.js"></script>
<script src="__PJ__/home/js/sjk/appStoreRankSjk.js"></script>
</body>
</html>