<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>App Store搜索页</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<link href="__PJ__/home/css/100ec_style.css" rel="stylesheet">
	<link href="__PJ__/home/css/dataStyle.css" rel="stylesheet">
	<script src="__PJ__/home/js/jquery.min.js"></script>
</head>
<body>
	
<if condition="$vip eq 1 ">
	<include file="Public/dsb-warn"/>
</if>
<!-- 11111111 -->

<include file="Public/dsb-header"/>
<include file="Public/dsb-left-nav"/>


<div class="dsj-wrapper">
	<div class="sjk-wrapper sjk-bg4">
		<div class="tool-group">
			<div class="position"><p>当前位置：<span id="position">App Store搜索</span></p></div>
			<div class="search-box" style="display: none">
				<input type="text" name="name" id="name" placeholder="应用名/开发者/appId" autocomplete="off">
				<span id="searchBtn">搜索</span>
			</div>
			<if condition="$vip eq 2 ">
				<div class="sjk-change-status-box" id="screenshotBtn">
					<div class="sjk-change-status-in-box">
						<div class="sjk-change-status-circle"></div>
					</div>
				</div>
			</if>
				
		</div>
		<if condition="$vip eq 2 ">
	        <!-- 电数宝工具组件 -->
	    	<include file="Public/dsb-tools"/>
	    </if>
	</div>
	<div class="sjk-wrapper">
		<div class="app-store-mask">
			<div class="app-input">

				<input type="text" id="nameMask" name="nameMask" placeholder="输入应用名/开发者/appId" autocomplete="off">
				<p id="searchMaskBtn">搜索</p>
			</div>
		</div>
		<div class="sjk-table app-store-rank app-store-search">
	
			<div class="screenshot-table-title">
				<p id="screenName">点击工具栏“标题设置”自定义标题内容</p>
			</div>
			<div class="sjk-data-title">
				<div class="s-d-t-item item-small" id="allChoose">全选</div>
				<div class="s-d-t-item item-small">序号</div>
				<div class="s-d-t-item item-small">Logo</div>
				<div class="s-d-t-item n">应用</div>
				<div class="s-d-t-item item-small">版本</div>
				<div class="s-d-t-item">分类</div>
				<div class="s-d-t-item">开发者</div>
				<div class="s-d-t-item">用户评分</div>
			</div>

			<ul class="app-store-list sjk-data-content" id="dataList">
		
			</ul>
			<div class="screenshot-table-footer clearfix">
				<p>图表编制：网经社(WWW.100EC.CN)</p>
				<p>数据来源：App Store官方数据</p>
			</div>
		</div>
	</div>
	<include file="Public/footer"/>
</div>

<script src="__PJ__/home/js/sjk/dataCgy_appStoreRank.js"></script>
<script src="__PJ__/home/js/sjk/rating.js"></script>
<script src="__PJ__/home/js/sjk/appStoreSearch.js?v=1.1"></script>
</body>
</html>