<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>上传头像 会员中心</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link href="__PJ__/home/css/member.css" rel="stylesheet">
<link href="__PJ__/home/css/100ec.css" rel="stylesheet">
<link href="__PJ__/home/css/bootstrap.min.css" rel="stylesheet">
<script src="__PJ__/home/js/jquery.min.js"></script>
<script src="__PJ__/home/js/bootstrap.min.js"></script>
<style>
</style>
</head>

<body>
<include file="Public/head"/>

<div class="part">
	<div class="main">
    <!----------左侧边栏------------>
    	<div class="member_left">
        	<ul class="member_left_box">
            	<li><div class="img_head"><if condition="$homeimg eq '' "><img src="__PJ__/home/images/p1.jpg"><else /><img src="{$webhost}/{$homeimg}"></if></div><p class="img_name">{$homename}</p></li>
               	<li class="one">
                	<div class="two">
                    	<span>
                        	<a href="member.html"><p class="three">个人资料</p></a>
                        	<a href="change_img.html"><p>头像上传</p></a>
                        	<a href="change_pwd.html"><p>修改密码</p></a>
                        </span>
                    </div>
                </li>
                <a href="index.html"><li class="list">我的投稿</li></a>
                <a href="http://show.s.315.100ec.cn/" target="_blank"><li class="list">我要维权</li></a>
            	
            </ul>
        </div>
    	
     <!----------右栏------------>
    	<div class="member_right">
        	<div class="member_right_box">
            	<div class="member_right_title"><p>上传头像</p></div>
                
                <div class="member_right_main">
                	<div class="container2">
                    
                      <div class="imageBox">
                    
                        <div class="thumbBox"></div>
                    
                        <div class="spinner" style="display: none"></div>
                    
                      </div>
                    
                      <div class="action"> 
                    
                    
                        <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
                    
                          <label for="upload-file">请先选择图片...</label>
                    
                          </a>
                    
                          <input type="file" class="" name="upload-file" id="upload-file" />
                    
                        </div>
                    
                        <input type="button" name="btnCrop" id="btnCrop"   class="Btnsty_peyton" value="OK">
                    
                        <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                    
                        <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
                    
                      </div>
                    
                      <div class="cropped"></div>
                    
                    </div>


                
                </div>
                
            </div>
        </div>
    </div>
</div>

<include file="Public/footer"/>

</body>
</html>

<script src="__PJ__/home/js/img.js"></script>
<script>
$(window).load(function() {

	//$('#btnCrop').click();$("#idName").css("cssText","background-color:red!important");

	

	//$(".imageBox").css("cssText","background-position:88px 88px!important");$(".imageBox").css("cssText","background-size:222px 222px!important");

	var options =

	{

		thumbBox: '.thumbBox',

		spinner: '.spinner',

		imgSrc: ''

	}

	var cropper = $('.imageBox').cropbox(options);

	var img="";

	$('#upload-file').on('change', function(){

		var reader = new FileReader();

		reader.onload = function(e) {

			options.imgSrc = e.target.result;

			cropper = $('.imageBox').cropbox(options);

			getImg();

		}

		reader.readAsDataURL(this.files[0]);

		this.files = [];

		//getImg();

	})

	$('#btnCrop').on('click', function(){

		//alert("图片上传喽"+cropper.getDataURL());


          var img=cropper.getDataURL();
           $.post("{:U('change_imgupdate')}", {img:img}, function(data){
           if (data.length>0){ 
            alert(data);
           } 
           }) 



	})

	function getImg(){

		img = cropper.getDataURL();

		$('.cropped').html('');

		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');

		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');

		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');

		}

		

	$(".imageBox").on("mouseup",function(){

 		getImg();

  		});

		

		

	$('#btnZoomIn').on('click', function(){

		cropper.zoomIn();

	})

	$('#btnZoomOut').on('click', function(){

		cropper.zoomOut();

	})

});


$(document).ready(function(){
	$("#name").mouseover(function(){
		$(".login_detail").show();
		$("#name").css("background-color","#ddd");
	})	
	$(".login_new").mouseleave(function(){
		$(".login_detail").hide();
		$("#name").css("background-color","#f2f2f2");
		
	})	
});

</script>