<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>发票申请 </title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
	<link href="__PJ__/home/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PJ__/home/css/100ec_style.css" rel="stylesheet">
	<link href="__PJ__/home/css/member.css" rel="stylesheet">
	<link href="__PJ__/home/css/project.css" rel="stylesheet">
	<script src="__PJ__/home/js/jquery.min.js"></script>
</head>
<body>

<div class="user-head-wrapper">
    <include file="Public/dsb-header"/>
</div>

<include file="Public/usernav"/>
	

<div class="member-shop member-box mb" >


    <h4 class="m-title"><i class="glyphicon glyphicon-edit"></i>发票信息</h4>

	<form class="form-horizontal" action="{:U('up_invoice')}" id="addForm" name="addForm" method="post">
		

		<!-- <div class="form-group">
			<label for="invoiceType" class="col-sm-2 control-label">发票类型</label>
			<div class="col-sm-8">
				<p class="form-control" style="background: #eee">电子发票-增值税普通发票</p>
			</div>
		</div> -->

		<div class="form-group">
			<label for="invoiceTitle" class="col-sm-2 control-label must">发票抬头</label>
			<div class="col-sm-8">
				<select class="form-control" id="cate2" name="cate2">
					<option value="1">企业</option>
					<!-- <option value="2">个人</option> -->
				</select>
				<input type="text" style="display: none" id="cate" name="cate" value="{$invoice.cate}">

			</div>
		</div>

		<!-- 企业发票内容 -->
		<div class="cpy-invoice active">
			
			<div class="form-group" id="nameRow">
				<label for="cpy" class="col-sm-2 control-label must">单位名称</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="company" name="company" placeholder="单位名称" value="{$invoice.company}">
				</div>
			</div>
			<div class="form-group" id="tnoRow">
				<label for="tno" class="col-sm-2 control-label must">纳税人识别号</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="tno" name="tno" placeholder="纳税人识别号" value="{$invoice.tno}">
				</div>
			</div>
			<div class="form-group cpy" id="addressRow">
				<label for="address" class="col-sm-2 control-label">注册地址</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="address" name="address" placeholder="注册地址" value="{$invoice.address}">
				</div>
			</div>
			<div class="form-group cpy" id="telRow">
				<label for="tel" class="col-sm-2 control-label">注册电话</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="tel" name="tel" placeholder="注册电话" value="{$invoice.tel}">
				</div>
			</div>
			<div class="form-group cpy" id="bankRow">
				<label for="bank" class="col-sm-2 control-label">开户行</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="bank" name="bank" placeholder="开户行" value="{$invoice.bank}">
				</div>
			</div>
			<div class="form-group cpy" id="accountRow">
				<label for="account" class="col-sm-2 control-label">银行账号</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="account" name="account" placeholder="银行账号" value="{$invoice.account}">
				</div>
			</div>
			<div class="form-group" id="emailRow">
				<label for="email" class="col-sm-2 control-label must">邮箱地址</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" id="email" name="email" placeholder="邮箱地址" value="{$invoice.email}">
				</div>
			</div>
		</div>
		<!-- 个人发票内容 -->
		<!-- <div class="p-invoice">
			<div class="form-group">
				<label for="company" class="col-sm-2 control-label must">真实姓名</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="name" name="company" placeholder="真实姓名" value="{$invoice.company}">
				</div>
			</div>
			<div class="form-group">
				<label for="idCard" class="col-sm-2 control-label must">身份证号</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="idCard" name="tno" placeholder="身份证号" value="{$invoice.tno}">
				</div>
			</div>
			<div class="form-group">
				<label for="pEmail" class="col-sm-2 control-label must">邮箱地址</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" id="email2" name="email" placeholder="邮箱地址" value="{$invoice.email}">
				</div>
			</div> -->
			
		<!-- </div> -->

		<div class="form-group">
			<label class="col-sm-2"></label>
			<div class="col-sm-8">
				<input type="submit" id="submit" class="col-sm-12 btn btn-primary" value="提交申请">
			</div>
		</div>
	</form>


    <h4 class="m-title"><i class="glyphicon glyphicon-exclamation-sign"></i>开票须知</h4>
    <div style="color: #666">
    	<p>1.为了保障消费者的合法权益，我司将依据税法相关规定，给您开具增值税普通发票。</p>
    	<p>2.发票金额为您购买商品实际的付款金额，使用余额、积分等方式支付的部分不在发票金额中体现。</p>
    	<p>3.发票内容默认为“信息服务费”，同时不支持修改发票内容，给您带来不便请您谅解。</p>
    	<p>4.企业开票：请确保您所填写的开票信息与贵司税务登记证信息一致。<br>个人开票：请确保您所填写的信息与实际个人信息一致。 <br>注：如因填写失误造成发票开具错误，我司不负责重新开票，请谅解。</p>
    	<p>5. 提交开票申请后，我们原则上会在2到3个工作日内，将发票开出并发送到您填写的收件邮箱。如在开票信息审核通过后7个工作日内您的邮箱仍未收到发票，请及时致电我司客服人员查询。</p>
    	<p>如有相关发票开具问题，请及时联系我司客服人员QQ： 000 / 电话：000，我司人员将竭诚为您服务！</p>

    </div>
</div>



<include file="Public/userfooter"/>

<script src="__PJ__/home/js/bootstrap.min.js"></script>
<script src="__PJ__/home/js/user/user.js"></script>
<script>
	$('#cate2').change(function(){
		$('.error-msg').remove();
		if($('#cate2 option:checked').val() == 1){
			$('#cate').val('企业')
			$('.cpy.form-group').show()
			$('#nameRow label').html('单位名称')
			$('#tnoRow label').html('纳税人识别号')
			$('#addressRow input').attr('name', 'naddresso')
			$('#telRow input').attr('name', 'tel')
			$('#bankRow input').attr('name', 'bank')
			$('#accountRow input').attr('name', 'account')
			// $('.p-invoice input').val('')

			// $('.cpy-invoice').addClass('active').siblings('.p-invoice').removeClass('active')
		}else if($('#cate2 option:checked').val() == 2){
			$('#cate').val('个人')
			$('.cpy.form-group').hide()
			$('#nameRow label').html('姓名')
			$('#tnoRow label').html('身份证')
			$('#addressRow input').attr('name', 'no')
			$('#telRow input').attr('name', 'no')
			$('#bankRow input').attr('name', 'no')
			$('#accountRow input').attr('name', 'no')
			// $('.cpy-invoice input').val('')
			// $('.p-invoice').addClass('active').siblings('.cpy-invoice').removeClass('active')
		}
	})
	$('input').blur(function(){
		$(this).parent().siblings('.error-msg').remove();
		if($('#invoiceTitle').val() == 1 && $(this).parent().parent().parent().hasClass('cpy-invoice')){
			// console.log($(this).attr('id'), $('#invoiceTitle').val())
			if($(this).is('#regAddress') || $(this).is('#regPhone') || $(this).is('#bank') || $(this).is('#bankAccount')){

			}else if(!$(this).val()) {
				$(this).parent().parent().append('<p class="col-sm-2 error-msg"></p">必填</p>')
			}
		}else if($('#invoiceTitle').val() == 2 && $(this).parent().parent().parent().hasClass('p-invoice')){
			// console.log($(this).attr('id'), $('#invoiceTitle').val())
			if(!$(this).val()) {
				$(this).parent().parent().append('<p class="col-sm-2 error-msg"></p">必填</p>')
			}
		}
	})

	$('#submit').on('click',function(){

		$('form input').trigger("blur");
		// if($('table tr input[type=radio]:checked').length == 0) {
		// 	alert('请选择需要开票的订单')
		// 	return false
		// }

		var numError = $("form .error-msg").length 
	    if(numError){
	        return false;
	    }else{
	    	return true
	    } 
	})

</script>

</body>
</html>