<!-- footer -->
<!-- <link href="__PJ__/home/css/100ec_style.css?v=1.1.6" rel="stylesheet"> -->
<link href="__PJ__/home/css/100ec_bottom.css" rel="stylesheet">

<div class="footer">
	<div class="main">
		<div class="product_box">
			<div class="bottom_box">
				<a class="bottom_title">平台生态</a>
				<ul class="bottom_logo">
				    <li><a href="http://www.100ec.cn/" target="_blank"><img src="__PJ__/home/images/dhlogo.png"></a></li>
				    <li><a href="http://www.100ec.cn/zt/dszx/" target="_blank"><img src="__PJ__/home/images/bottom_dszx.png"></a></li>
		            <li><a href="http://www.100ec.cn/Index/dsb_product.html" target="_blank"><img src="__PJ__/home/images/bottom_dsb.png"></a></li>
		            <li><a href="http://www.100ec.cn/Index/finance.html" target="_blank"><img src="__PJ__/home/images/bottom_drb.png"></a></li>
		            <li><a href="http://show.s.315.100ec.cn/" target="_blank"><img src="__PJ__/home/images/bottom_tsb.png"></a></li>
		            <li><a href="http://www.100ec.cn/Index/sjCollege.html" target="_blank"><img src="__PJ__/home/images/bottom_sxy.png"></a></li>
	            </ul>
			</div>

			<div class="bottom_box">
				<a class="bottom_title">分站</a>
				<ul class="bottom_logo">
				    <li><a href="http://www.100ec.cn/zt/beijing/" target="_blank">北京站</a></li>
			        <li><a href="http://www.100ec.cn/zt/shanghai/" target="_blank">上海站</a></li>
			        <li><a href="http://www.100ec.cn/zt/zhejiang/" target="_blank">浙江站</a></li>
			        <li><a href="http://www.100ec.cn/zt/guangdong/" target="_blank">广东站</a></li>
			        <li><a href="http://www.100ec.cn/zt/shandong/" target="_blank">山东站</a></li>
			        <li><a href="http://www.100ec.cn/zt/fujian/" target="_blank">福建站</a></li>
			        <li><a href="http://www.100ec.cn/zt/jiangsu/" target="_blank">江苏站</a></li>
			        <li><a href="http://hn.100ec.cn/" target="_blank">海南站</a></li>
	            </ul>
			</div>

			<div class="bottom_box">
				<a class="bottom_title" href="https://www.100ec.cn/Index/Wjsproviders.html" target="_blank">产品服务</a>
				<ul class="bottom_logo">
				    <li>
						<span>媒体服务</span>
						<!-- <a href="https://www.100ec.cn/Public/home/images/wjsviders/download/WJSresource.xlsx" target="_blank">广告服务</a> -->
						<a href="http://www.100ec.cn/Index/Sycoverage.html" target="_blank">商业报道</a>
						<a href="https://www.100ec.cn/Index/wemediaSq.html" target="_blank">自媒体</a>
						<a href="http://www.100ec.cn/Index/marketing.html" target="_blank">全案营销</a>
						<a href="http://www.100ec.cn/Index/ipofw.html" target="_blank">ipo服务</a>
						<a href="http://www.100ec.cn/Index/Ppconsultant.html" target="_blank">品牌顾问</a>
					</li>
					<li>
						<span>智库服务</span>
						<a href="http://www.100ec.cn/Index/government.html" target="_blank">政府智库</a>
						<a href="http://www.100ec.cn/Index/sponsorship.html" target="_blank">报告赞助</a>
						<a href="http://www.100ec.cn/Index/Zlconsultant.html" target="_blank">战略顾问</a>
						<a href="http://www.100ec.cn/Index/yjyBuild.html" target="_blank">研究院</a>
						<a href="http://www.100ec.cn/Index/ZJtraining.html" target="_blank">专家培训</a>
					</li>
					<li>
						<span>平台服务</span>
						<a href="https://www.100ec.cn/Index/enterprise_vip.html" target="_blank">网经通</a>
						<a href="http://www.100ec.cn/Index/dsb_product.html" target="_blank">数据服务</a>
						<a href="http://www.100ec.cn/Index/finance.html" target="_blank">融资服务</a>
						<a href="http://www.100ec.cn/Index/complaints.html" target="_blank">售后顾问</a>
						<a href="http://www.100ec.cn/zt/dsflcpfw/" target="_blank">法律服务</a>
						<a href="http://www.100ec.cn/Index/meeting.html" target="_blank">会议服务</a>
						<a href="http://www.100ec.cn/Index/LocalWM.html" target="_blank">地方网盟</a>
					</li>
	            </ul>
			</div>

			<div class="bottom_box">
				<a class="bottom_title" href="http://www.100ec.cn/zt/pplm/" target="_blank">品牌栏目</a>
				<ul class="bottom_logo">
				    <li><a href="http://www.100ec.cn/zt/dskp/" target="_blank">电商快评</a></li>
				    <li><a href="http://www.100ec.cn/zt/dspc/" target="_blank">电商评测</a></li>
				    <li><a href="http://www.100ec.cn/zt/dspj/" target="_blank">电商评级</a></li>
				    <li><a href="http://www.100ec.cn/zt/dsbd/" target="_blank">电商榜单</a></li>
				    <li><a href="http://www.100ec.cn/zt/gcj/" target="_blank">观察家</a></li>
				    <li><a href="http://www.100ec.cn/zt/kx/" target="_blank">电商快讯</a></li>
				    <li><a href="http://www.100ec.cn/zt/dszk/" target="_blank">电商周刊</a></li>
				    <li><a href="http://www.100ec.cn/zt/dsft/" target="_blank">电商访谈</a></li>
				    <li><a href="http://www.100ec.cn/zt/trcm/" target="_blank">投融参谋</a></li>
	            </ul>
			</div>

			<div class="bottom_box">
				<!-- <a class="bottom_title" href="{:U('about/aboutus')}" target="_blank">关于我们</a> -->
				<a class="bottom_title" href="https://www.100ec.cn/Index/Wjsproviders.html" target="_blank">关于我们</a>
				<ul class="bottom_logo">
       		        <li><a href="{:U('about/contactus')}" target="_blank">联系我们</a></li>
       		        <li><a href="http://www.100ec.cn/zt/zxdsj/" target="_blank">发展历程</a></li>
       		        <li><a href="{:U('about/submit')}" target="_blank">投稿撤稿</a></li>
       		        <!--<li><a href="{:U('about/introduction')}" target="_blank">商务合作</a></li>-->
       		        <!-- <li><a href="{:U('about/link')}" target="_blank">友情链接</a></li> -->
       		        <li><a href="{:U('about/mian')}" target="_blank">免责声明</a></li>
       		        <li><a href="{:U('about/job')}" target="_blank">人才招聘</a></li>
       		        <li><a href="{:U('about/product')}" target="_blank">产品服务</a></li>
			        <li><a href="http://www.100ec.cn/dh.html" target="_blank">全站导航</a></li>
			        <li><a href="{$webhost}/topic.html" target="_blank">独家专题</a></li>
                </ul>
			</div>

			<div class="bottom_box">
				<a class="bottom_title" href="http://www.100ec.cn/zt/mtjz/" target="_blank">媒体矩阵</a>
				<ul class="bottom_logo">
				    <li id="wx"><a>微信公众号</a><img src="__PJ__/home/images/zxewm.png"></li>
				    <li><a href="https://weibo.com/caoshu1979" target="_blank">新浪微博</a></li>
				    <li><a href="https://t.cj.sina.com.cn/k/article/author_article/2738383473" target="_blank">新浪财经</a></li>
				    <li><a href="http://caifuhao.eastmoney.com/cfh/237150" target="_blank">财富号</a></li>
				    <li><a href="https://xueqiu.com/u/100ec" target="_blank">雪球</a></li>
				    <li><a href="https://a.jiemian.com/index.php?m=user&a=centerArticle&id=105304583" target="_blank">界面</a></li>
				    <li><a href="https://new.qq.com/omn/author/5424426" target="_blank">腾讯新闻</a></li>
				    <li><a href="http://dy.163.com/v2/article/detail/E5R3KGPF0514BOS2.html" target="_blank">网易新闻</a></li>
				    <li><a href="https://feng.ifeng.com/author/507977" target="_blank">凤凰新闻</a></li>
				    <li id="wx"><a>一点资讯</a><img src="__PJ__/home/images/wemedia/ydzx.jpg"></li>
				    <li><a href="http://kuaibao.qq.com/s/MEDIANEWSLIST?chlid=5424426" target="_blank">天天快报</a></li>
				    <li><a href="http://a.mp.uc.cn/media.html?mid=e11952b0d9b0468696efb9817e4a3750&uc_biz_str=S:custom%7CC:iflow_ncmt&uc_param_str=frdnsnpfvecpntnwprdssskt&from="     target="_blank">大鱼号</a></li>
				    <li><a href="https://mp.sohu.com/profile?xpt=OTRmN2NjOGUtNzdkYi00MGY2LWExNjQtOTNjY2NjMTMzZjNi" target="_blank">搜狐</a></li>
				    <li><a href="https://www.toutiao.com/c/user/3935903611631965/#mid=1652603837615116" target="_blank">今日头条</a></li>
				    <li><a href="https://baijiahao.baidu.com/u?app_id=1652682959678452&fr=bjharticle" target="_blank">百家号</a></li>
				    <li><a href="https://app.cdsb.com/cdsb_app/asset/hxh/index.html?id=50" target="_blank">红星号</a></li>
	            </ul>
			</div>


			<!-- <div class="bottom_logo ewm">
        	    <div class="ewm1">
            	    <img src="__PJ__/home/images/zxewm.png" width="100">
                    <p>100EC官方公众号</p>
                </div>
                <div class="ewm1">
            	    <img src="__PJ__/home/images/wbewm.png" width="100">
                    <p>100EC官方微博</p>
                </div>
            </div> -->
		</div>
    
    	<ul class="bottom2">
          <li><a href="http://www.100ec.cn/">网经社&nbsp;版权所有</a></li>
       		<li><a href="http://www.beian.miit.gov.cn" target="_blank">浙ICP证：浙B2-20090135-4</a></li>
          <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602009379" target="_blank"><img src="__PJ__/home/images/ghs.png" style="float: left;padding: 15px 0px"></a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602009379" target="_blank">浙公网安备&nbsp;33010602009379号</a></li>
          <li><script src="https://s13.cnzz.com/z_stat.php?id=1273076332&web_id=1273076332" language="JavaScript"></script></li>
          <li><a href="http://www.100ec.cn/zt/upload_data/sbzc_38.pdf" target="_blank">商标注册证：38类 </a><a href="http://www.100ec.cn/zt/upload_data/sbzc_41.pdf" target="_blank">41类</a></li>
        </ul>
    </div>
    <div style="clear:both"></div>
</div>