<link href="__PJ__/home/css/100ec-head-nav1.css" rel="stylesheet">
<script src="__PJ__/home/js/baiduPush.js"></script> 
<!--top-->
<div id="Rtop"></div>
<div class="jlt_topbg">
    
    <div class="jlt_top finance-container dsb-container">
        
        <div class="jlt_right">
            
            <div class="jlt_btn">
                <span class="jlt_bar"></span>
                <span class="jlt_bar"></span>
                <span class="jlt_bar"></span>
            </div>

            <ul class="jlt_nav"> 
                <li>核心平台</li>
                <li>数据库</li>
                <li><a href="https://www.100ec.cn/Index/Wjsproviders.html" target="_blank">产品服务</a></li>
                <li>移动端</li>
                <li>地方站</li>
                <!-- <li>产品服务</li> -->
                <li><a href="http://www.100ec.cn/topic.html" target="_blank">专题</a></li>
                <li><a href="http://www.100ec.cn/dh.html" target="_blank">导航</a></li>
            </ul>

                <!--核心平台-->
                <div class="navbox" id="pt">
                    <ul class="jlt_list">
                        <li>
                            <a href="http://www.100ec.cn/zt/dszx/" target="_blank">
                                <div class="lg" style="background-position:0px 0px;"></div>
                                <p><span>研究中心</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://show.s.315.100ec.cn/" target="_blank">
                                <div class="lg" style="background-position:0px -40px;"></div>
                                <p><span>投诉平台</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/dsflcpfw/" target="_blank">
                                <div class="lg" style="background-position:0px -80px;"></div>
                                <p><span>法律平台</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/media/" target="_blank">
                                <div class="lg" style="background-position:0px -360px;"></div>
                                <p><span>媒体智库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/djs/" target="_blank">
                                <div class="lg" style="background-position:0px -400px;"></div>
                                <p><span>独角兽</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/ssgs/" target="_blank">
                                <div class="lg" style="background-position:0px -440px;"></div>
                                <p><span>上市公司</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/topic.html" target="_blank">
                                <div class="lg" style="background-position:0px -600px;"></div>
                                <p><span>独家专题</span><i>></i></p>
                            </a>
                        </li>
                    </ul>
                    <ul class="jlt_list">
                        <li>
                            <a href="http://www.100ec.cn/zt/kjdsb_js/" target="_blank">
                                <div class="lg" style="background-position:0px -120px;"></div>
                                <p><span>跨境电商</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn//zt/b2bds_js/" target="_blank">
                                <div class="lg" style="background-position:0px -160px;"></div>
                                <p><span>产业电商</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/sjds_js/" target="_blank">
                                <div class="lg" style="background-position:0px -200px;"></div>
                                <p><span>社交电商</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/ncds_js/" target="_blank">
                                <div class="lg" style="background-position:0px -240px;"></div>
                                <p><span>三农电商</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/wlfw_js/" target="_blank">
                                <div class="lg" style="background-position:0px -520px;"></div>
                                <p><span>电商物流</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/ota/" target="_blank">
                                <div class="lg" style="background-position:0px -280px;"></div>
                                <p><span>在线旅游</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/educationol/" target="_blank">
                                <div class="lg" style="background-position:0px -320px;"></div>
                                <p><span>在线教育</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/gxjjcpfw/" target="_blank">
                                <div class="lg" style="background-position:0px -480px;"></div>
                                <p><span>共享经济</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/jrkj_js/" target="_blank">
                                <div class="lg" style="background-position:0px -560px;"></div>
                                <p><span>金融科技</span><i>></i></p>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--数据库-->
                <div class="navbox" id="base">
                    <ul class="jlt_list">
                        <li>
                            <a href="/User/globalData.html" target="_blank">
                                <div class="lg" style="background-position:-40px -520px;"></div>
                                <p><span>全球电商数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="/User/industryData.html?name=dzsw" target="_blank">
                                <div class="lg" style="background-position:-40px -40px;"></div>
                                <p><span>行业数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/Index/complaintData.html" target="_blank">
                                <div class="lg" style="background-position:-40px 0px;"></div>
                                <p><span>评级数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.100ec.cn/zt/cbk/" target="_blank">
                                <div class="lg" style="background-position:-40px -80px;"></div>
                                <p><span>财报数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="/stock.hmtl" target="_blank">
                                <div class="lg" style="background-position:-40px -120px;"></div>
                                <p><span>股价数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="/User/newFinancialData.html?name=%E5%A3%B9%E7%8E%96%E5%A3%B9%E7%8E%96" target="_blank">
                                <div class="lg" style="background-position:-40px -680px;"></div>
                                <p><span>新三板数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="/User/unicornData.html" target="_blank">
                                <div class="lg" style="background-position:-40px -160px;"></div>
                                <p><span>独角兽数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="/User/appStoreRank.html" target="_blank">
                                <div class="lg" style="background-position:-40px -560px;"></div>
                                <p><span>AppStore数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="/User/investData.html" target="_blank">
                                <div class="lg" style="background-position:-40px -720px;"></div>
                                <p><span>投融资数据库</span><i>></i></p>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="https://www.100ec.cn/Index/tzjg_list.html" target="_blank">
                                <div class="lg" style="background-position:-40px -720px;"></div>
                                <p><span>投资者数据库</span><i>></i></p>
                            </a>
                        </li> -->

                        <!-- <li>
                            <a href="http://www.100ec.cn/Index/appRank.html" target="_blank">
                                <div class="lg" style="background-position:-40px -240px;"></div>
                                <p><span>APP月活数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/Index/xcxIndex.html" target="_blank">
                                <div class="lg" style="background-position:-40px -480px;"></div>
                                <p><span>小程序指数库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -600px;"></div>
                                <p><span>跨境综示区库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -640px;"></div>
                                <p><span>网红带货数据库</span><i>></i></p>
                            </a>
                        </li> -->
                    </ul>
                    <ul class="jlt_list">
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -360px;"></div>
                                <p><span>跨境电商数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -400px;"></div>
                                <p><span>B2B电商数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -320px;"></div>
                                <p><span>零售电商数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -280px;"></div>
                                <p><span>服务电商数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -200px;"></div>
                                <p><span>物流科技数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">
                                <div class="lg" style="background-position:-40px -440px;"></div>
                                <p><span>金融科技数据库</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/dssjk/" target="_blank">
                                <p style="width:100%;"><span style="font-weight:bold;">详见“电数宝”</span><i>></i></p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navbox"></div>

                <!--移动端-->
                <div class="navbox" id="ydd">
                    <ul class="jlt_list">
                        <li id="wx">
                            <a>
                                <div class="lg" style="background-position:-80px 0px;"></div>
                                <p><span>微信公众号</span><i>></i></p>
                            </a>
                            <img src="http://www.100ec.cn/Public/home/images/zxewm.png" id="wxewm">
                        </li>
                        <li>
                            <a href="https://weibo.com/caoshu1979" target="_blank">
                                <div class="lg" style="background-position:-80px -40px;"></div>
                                <p><span>新浪微博</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.cj.sina.com.cn/k/article/author_article/2738383473" target="_blank">
                                <div class="lg" style="background-position:-80px -80px;"></div>
                                <p><span>新浪财经</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://caifuhao.eastmoney.com/cfh/237150" target="_blank">
                                <div class="lg" style="background-position:-80px -520px;"></div>
                                <p><span>财富号</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://xueqiu.com/u/100ec" target="_blank">
                                <div class="lg" style="background-position:-80px -400px;"></div>
                                <p><span>雪球</span><i>></i></p>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="https://weibo.com/3061390605/profile?s=6cm7D0&is_hot=1" target="_blank">
                                <div class="lg" style="background-position:-80px -120px;"></div>
                                <p><span>网购投诉微博</span><i>></i></p>
                            </a>
                        </li> -->
                        <li>
                            <a href="https://a.jiemian.com/index.php?m=user&a=centerArticle&id=105304583" target="_blank">
                                <div class="lg" style="background-position:-80px -160px;"></div>
                                <p><span>界面</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://new.qq.com/omn/author/5424426" target="_blank">
                                <div class="lg" style="background-position:-80px -200px;"></div>
                                <p><span>腾讯新闻</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://dy.163.com/v2/article/detail/E5R3KGPF0514BOS2.html" target="_blank">
                                <div class="lg" style="background-position:-80px -240px;"></div>
                                <p><span>网易新闻</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://feng.ifeng.com/author/507977" target="_blank">
                                <div class="lg" style="background-position:-80px -280px;"></div>
                                <p><span>凤凰新闻</span><i>></i></p>
                            </a>
                        </li>
                        <li id="mobile_ydzx">
                            <a href="http://www.yidianzixun.com/channel/m218288" target="_blank">
                                <div class="lg" style="background-position:-80px -360px;"></div>
                                <p><span>一点资讯</span><i>></i></p>
                            </a>
                        </li>
                        <li id="pc_ydzx">
                            <a>
                                <div class="lg" style="background-position:-80px -360px;"></div>
                                <p><span>一点资讯</span><i>></i></p>
                            </a>
                            <img src="http://www.100ec.cn/Public/home/images/ydzx.png" id="ydzxewm">
                        </li>
                        <li>
                            <a href="http://kuaibao.qq.com/s/MEDIANEWSLIST?chlid=5424426" target="_blank">
                                <div class="lg" style="background-position:-80px -320px;"></div>
                                <p><span>天天快报</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://a.mp.uc.cn/media.html?mid=e11952b0d9b0468696efb9817e4a3750&uc_biz_str=S:custom%7CC:iflow_ncmt&uc_param_str=frdnsnpfvecpntnwprdssskt&from=" target="_blank">
                                <div class="lg" style="background-position:-80px -440px;"></div>
                                <p><span>大鱼号</span><i>></i></p>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="http://blog.sina.com.cn/s/articlelist_2738383473_0_1.html" target="_blank">
                                <div class="lg" style="background-position:-80px -80px;"></div>
                                <p><span>新浪博客</span><i>></i></p>
                            </a>
                        </li> -->
                        <!-- <li>
                            <a href="https://mp.sohu.com/profile?xpt=c29odXptdHp1ZHdlZ2hAc29odS5jb20=&_f=index_pagemp_2&spm=smpc.content.author.3.1556158135666kz4NbTC" target="_blank">
                                <div class="lg" style="background-position:-80px -480px;"></div>
                                <p><span>搜狐</span><i>></i></p>
                            </a>
                        </li> -->
                        <li>
                            <a href="https://mp.sohu.com/profile?xpt=OTRmN2NjOGUtNzdkYi00MGY2LWExNjQtOTNjY2NjMTMzZjNi" target="_blank">
                                <div class="lg" style="background-position:-80px -480px;"></div>
                                <p><span>搜狐</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.toutiao.com/c/user/3935903611631965/#mid=1652603837615116" target="_blank">
                                <div class="lg" style="background-position:-80px -600px;"></div>
                                <p><span>今日头条</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://baijiahao.baidu.com/u?app_id=1652682959678452&fr=bjharticle" target="_blank">
                                <div class="lg" style="background-position:-80px -640px;"></div>
                                <p><span>百家号</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://app.cdsb.com/cdsb_app/asset/hxh/index.html?id=50" target="_blank">
                                <div class="lg" style="background-position:-80px -720px;"></div>
                                <p><span>红星号</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://weibo.com/3061390605/profile?s=6cm7D0&is_hot=1" target="_blank">
                                <div class="lg" style="background-position:-80px -680px;"></div>
                                <p><span>电诉宝微博</span><i>></i></p>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.100ec.cn/Index/wemediaSq.html" target="_blank">
                                <p style="width:100%;"><span style="font-weight:bold;">媒体矩阵</span><i>></i></p>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--地方站-->
                <div class="navbox" id="df">
                    <ul class="jlt_list">
                        <li>
                            <a href="http://www.100ec.cn/zt/beijing/" target="_blank">
                                <div class="lg" style="background-position:-120px 0px;"></div>
                                <p><span>北京站</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/shanghai/" target="_blank">
                                <div class="lg" style="background-position:-120px -40px;"></div>
                                <p><span>上海站</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/zhejiang/" target="_blank">
                                <div class="lg" style="background-position:-120px -80px;"></div>
                                <p><span>浙江站</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/guangdong/" target="_blank">
                                <div class="lg" style="background-position:-120px -120px;"></div>
                                <p><span>广东站</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/jiangsu/" target="_blank">
                                <div class="lg" style="background-position:-120px -160px;"></div>
                                <p><span>江苏站</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/shandong/" target="_blank">
                                <div class="lg" style="background-position:-120px -200px;"></div>
                                <p><span>山东站</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/fujian/" target="_blank">
                                <div class="lg" style="background-position:-120px -240px;"></div>
                                <p><span>福建站</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://hn.100ec.cn/" target="_blank">
                                <div class="lg" style="background-position:-120px -280px;"></div>
                                <p><span>海南站</span><i>></i></p>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--产品服务-->
                <!-- <div class="navbox" id="cp">
                    <ul class="jlt_list">
                        <li>
                            <a href="http://www.100ec.cn/about/product.html" target="_blank">
                                <div class="lg" style="background-position:-160px 0px;"></div>
                                <p><span>平台服务</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/dszx/" target="_blank">
                                <div class="lg" style="background-position:-160px -40px;"></div>
                                <p><span>智库服务</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/about/product.html" target="_blank">
                                <div class="lg" style="background-position:-160px -80px;"></div>
                                <p><span>媒体服务</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://my.315.100ec.cn/index.php?_a=login&login_way=green_user" target="_blank">
                                <div class="lg" style="background-position:-160px -200px;"></div>
                                <p><span>客诉服务</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/about/product.html" target="_blank">
                                <div class="lg" style="background-position:-160px -120px;"></div>
                                <p><span>政府服务</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/about/product.html" target="_blank">
                                <div class="lg" style="background-position:-160px -160px;"></div>
                                <p><span>会务服务</span><i>></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.100ec.cn/zt/dsflcpfw/" target="_blank">
                                <div class="lg" style="background-position:-160px -240px;"></div>
                                <p><span>法律服务</span><i>></i></p>
                            </a>
                        </li>
                    </ul>
                </div> -->

        </div>
    </div>

</div>


<div class="returntop" id="return">
    <a href="#Rtop"><img src="http://www.100ec.cn/Public/home/images/return.png" width="100%"></a>
</div>


<script src="__PJ__/home/js/head-nav1.js"></script>