

<div class="member-menu">
    <div class="menu-back-btn"><i class="glyphicon glyphicon-menu-left"></i></div>
    <div class="member-m-info">
        <div class="m-m-i-head-pic"><empty name="Think.session.homeimg"><img src="__PJ__/home/images/me.jpg" alt=""><else /><img src="{$webhost}/{$Think.session.homeimg}" alt=""></empty></div>
        <div class="m-m-i-name">
            <p>账号：<span>{$Think.session.homeusername}</span></p>
            <p>姓名：<span>{$Think.session.homename}</span></p>
        </div>
    </div>  
    
    <ul class="menu-list">

        <!-- <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="投融管理"><i class="glyphicon glyphicon-usd"></i><span>投融管理</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">
                <li class="seconds-title"><a href="{$webhost}/User/projectManagement.html" title="我的项目">项目管理</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/projectCollection.html" title="我的关注" >我的关注</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/sendMsg.html" title="我的消息" >我的约谈</a></li>
                投资人认证后才可以获取项目联系人信息
                <li class="seconds-title"><a href="{$webhost}/User/investorAdd.html" title="投资人管理" >投资人认证</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/finance_vip.html" target="_blank" title="电融宝会员" >电融宝会员</a></li>
            </ul>
        </li> -->

        <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="数据库"><i class="glyphicon glyphicon-signal"></i><span>基础数据库</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">

                <li class="seconds-title"><a href="{$webhost}/User/globalData.html" title="全球电商数据库" target="_blank">全球电商数据库</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/industryData.html?name=dzsw" title="行业数据库" target="_blank">行业数据库</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/park.html" title="电商产业园库" target="_blank">电商产业园库</a></li>
                <li class="seconds-title"><a href="{$webhost}/stock.html" title="电商股价数据" target="_blank">电商股价数据</a></li>
                <li class="seconds-title"><a href="{$webhost}/zt/cbk/" title="上市财报数据库" target="_blank">上市财报数据库</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/newFinancialData.html?name=壹玖壹玖" title="新三板财报数据库" target="_blank">新三板财报数据库</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/unicornData.html" title="独角兽数据库" target="_blank">独角兽数据库</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/complaintData.html" title="评级数据库" target="_blank">评级数据库</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/appStoreRank.html" title="AppStore数据库" target="_blank">AppStore数据库</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/investData.html" title="融资数据库" target="_blank">投融资数据库</a></li>
                
            </ul>
        </li>
        <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="公司数据库"><i class="glyphicon glyphicon-th-large"></i><span>公司数据库</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">

                <li class="seconds-title"><a href="{$webhost}/Index/cpyDataList.html" title="公司列表" target="_blank">公司列表</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/cpyDataList.html?type=上市" title="上市" target="_blank">上市</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/cpyDataList.html?type=新三板" title="新三板" target="_blank">新三板</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/cpyDataList.html?type=独角兽" title="独角兽" target="_blank">独角兽</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/cpyDataList.html?type=千里马" title="千里马" target="_blank">千里马</a></li>
                
            </ul>
        </li>
       <!--  <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="投稿管理"><i class="glyphicon glyphicon-file"></i><span>投稿管理</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">
                <li class="seconds-title"><a href="{$webhost}/User/index.html" title="投稿列表">投稿列表</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/add.html" title="新增投稿">新增投稿</a></li>
                未申请
                <li class="seconds-title"><a href="{$webhost}/User/apply.html" title="专栏申请">专栏申请</a></li>
                申请后
                <li class="seconds-title"><a href="{$webhost}/Index/author.html" target="_blank" title="我的专栏">我的专栏</a></li>
            </ul>
        </li> -->

        <!-- <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="网经商城"><i class="glyphicon glyphicon-shopping-cart"></i><span>网经商城</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">
                <li class="seconds-title"><a href="{$webhost}/Index/shopList.html?terms=%E6%8A%A5%E5%91%8A" title="商城列表" target="_blank">商城列表</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/shopCar.html" title="购物车">购物车</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/order.html" title="我的订单">我的订单</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/collection.html" title="我的收藏">我的收藏</a></li>
            </ul>
        </li> -->
        
        <!-- <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="相关产品"><i class="glyphicon glyphicon-option-horizontal"></i><span>相关产品</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">
                <li class="seconds-title"><a href="{$webhost}/ecSearch.html" target="_blank" title="电商搜">电商搜</a></li>
                <li class="seconds-title"><a href="{$webhost}/zt/dszk/" target="_blank" title="电商周刊" >电商周刊</a></li>
                <li class="seconds-title"><a href="http://show.s.315.100ec.cn/" target="_blank" title="投诉维权" >投诉维权</a></li>
            </ul>
        </li> -->
        <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="电数宝产品"><i class="glyphicon glyphicon-folder-close"></i><span>电数宝产品</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">
                <li class="seconds-title"><a href="{$webhost}/Index/dsb_product.html" title="产品介绍" target="_blank" >产品介绍</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/dsb_vip.html" title="会员权益" target="_blank" >会员权益</a></li>
                <li class="seconds-title"><a href="{$webhost}/Index/dsb_help.html" title="用户手册" target="_blank" >用户手册</a></li>
            </ul>
        </li>
        <li class="firsts-list">
            <a href="javascript:;" class="firsts-title" title="账号管理"><i class="glyphicon glyphicon-user"></i><span>账号管理</span><i class="glyphicon glyphicon-menu-down"></i></a>
            <ul class="seconds-list">
                <li class="seconds-title"><a href="{$webhost}/User/member.html" title="账号信息" >账号信息</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/change_pwd.html" title="密码修改" >密码修改</a></li>
                <li class="seconds-title"><a href="{$webhost}/User/message.html" title="系统消息" >系统消息</a></li>

                <if condition="$vip eq 2 ">
                    <li class="seconds-title"><a href="{$webhost}/User/invoice.html" title="发票申请" >发票申请</a></li>
                    <li class="seconds-title"><a href="{$webhost}/User/dataDownload.html" title="数据导出" >数据导出</a></li>
                </if>
            </ul>
        </li>
        <li class="firsts-list">
            <a href="{:U('Index/logout')}" class="firsts-title" title="安全退出"><i class="glyphicon glyphicon-off"></i><span>安全退出</span></a>
        </li>
    </ul>


</div>

<!-- <script>
    $(function(){
        
    })
</script> -->