<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>“电数宝”会员注册 </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <link href="__PJ__/home/css/bootstrap.min.css" rel="stylesheet">

    <link href="__PJ__/home/css/100ec_style.css" rel="stylesheet">
    <link href="__PJ__/home/css/dsb.css" rel="stylesheet">
    <style>
        .modal-body p,
        .modal-body li {
            line-height: 25px;
            margin-bottom: 10px;
        }
        .modal-body h4 {
            margin-bottom: 10px;
            font-weight: bold;
            padding: 10px 
        }
        .modal-body li {
            text-indent: 2em
        }
    </style>
</head>
<body>
    <div class="dsb-reg-container">
        <div class="dsb-reg-box">
            <div class="dsb-title">网经社“电数宝”会员注册</div>
            <form method="POST" id="dsbReg" class="dsb-reg-form" action="{:U('register')}" >
                <div class="form-row">
                    <input type="text" class="form-row-input must" name="register_mobile" id="phone" placeholder="手机号（必填）" autocomplete="off">
                    <span class="dsb-msg">请输入11位正确的手机号</span>
                </div>
                <!-- <div class="form-row">
                    <div class="form-item">
                        <input type="text" class="form-row-input must" name="code" id="code" placeholder="验证码（必填）" autocomplete="off">
                        <span class="dsb-msg">6位验证码</span>
                    </div>
                    <div class="form-item">
                        <div class="get-code-btn" id="getCode">获取验证码</div>
                    </div>
                </div>
                <div class="form-row">
                    <input type="password" class="form-row-input must" name="password" id="password" placeholder="设置至少8位密码（必填）" autocomplete="off">
                        <span class="dsb-msg">输入至少8位密码</span>
                </div> -->
                <div class="form-row">
                    <input type="eamil" class="form-row-input must" name="email" id="email" placeholder="邮箱（必填）" autocomplete="off">
                    <span class="dsb-msg">请输入正确的邮箱</span>
                </div>
                <div class="form-row">
                    <p style="color: #eee">以下选填信息完整填写，我们将提供更多服务，并且信息保密</p>
                </div>
                <div class="form-row">
                    <input type="text" class="form-row-input" name="name" id="name" placeholder="姓名" autocomplete="off">
                </div>
                <div class="form-row">
                    <input type="text" class="form-row-input" name="company" id="company" placeholder="公司" autocomplete="off">
                </div>
                <div class="form-row">
                    <input type="text" class="form-row-input" name="zw" id="position" placeholder="职务" autocomplete="off">
                </div>
                <!-- <div class="form-row vipRadio">
                    <p class="form-check-row">
                        <label class="check-box">
                            <input type="radio" name="vip" id="vip1" value="vip1">
                            <span class="check-box-style"></span>
                        申请试用账号
                        </label>
                    </p>
                    <p class="form-check-row" style="margin-left: 30px;">
                        <label class="check-box">
                            <input type="radio" name="vip" id="vip2" value="vip2">
                            <span class="check-box-style"></span>
                        账号付费使用
                        </label>
                    </p>
                    <span class="dsb-msg">选择用途</span>
                </div> -->
                <div class="form-row">
                    <p class="form-check-row">
                        <label class="check-box">
                            <input type="checkbox" id="agreeBtn">
                            <span class="check-box-style"></span>
                        </label>
                        同意网经社“电数宝”<a style="text-decoration: none; outline: none" href="javascript:;" data-toggle="modal" data-target="#yhxy"> 用户协议 </a>和<a style="text-decoration: none; outline: none" href="javascript:;" data-toggle="modal" data-target="#ystk"> 隐私条款 </a>
                    </p>
                    <span class="dsb-msg">需同意协议</span>
                </div>
                <div class="form-row">
                    <div class="dsb-submit-btn" id="register">提交</div>
                </div>
                <div class="form-row">
                    <a href="/Index/dsb_product.html">了解网经社“电数宝”产品</a>
                    <a href="/Index/dsb-login.html">已有账号？去登录</a>
                </div>
            </form>

        </div>
    </div>
    <div class="submit-msg-container">
        <div class="mask"></div>
        <div class="submit-msg">
            <div class="submit-msg-close" title="返回"></div>
            <div class="submit-msg-main">请确认提交注册信息,确认后密码将由手机短信形式发送，请留意查收<!-- 当前申请的账号权限为<span id="vipRoot"></span> -->。如有疑问可点击查看“电数宝”会员服务。
                <br>
                <!-- <span style="color: #D60606">完整填写注册信息（包括姓名、公司以及职务），更有机会获得网经社直接邀请的线下各类活动。</span> -->
            </div>
            <div class="submit-msg-footer">
                <!-- <a href="http://www.100ec.cn/User/serviceType.html" id="checkAgain">选择服务选项</a> -->
                <a style="cursor: pointer;" id="checkInfo">确认信息</a>
                <a href="/Index/dsb_vip.html" target="_blank">“电数宝”会员服务</a>
            </div>
        </div>
    </div>
    <div class="dsb-footer">
        <p>网经社 版权所有</p>
    </div>

<div id="yhxy" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">《网经社电数宝用户协议》</h4>
      </div>
      <div class="modal-body">
        <p>【审慎阅读】您在申请注册流程中点击同意前，应当认真阅读以下协议。请您务必审慎阅读、充分理解协议中相关条款内容，其中包括：</p>
        <p>1、与您约定免除或限制责任的条款；</p>
        <p>2、与您约定法律适用和管辖的条款；</p>
        <p>【特别提示】当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容，与网经社达成《网经社电数宝用户协议》。</p>
        <p>阅读协议的过程中，如果您不同意相关协议或其中任何条款约定，您应立即停止注册程序。</p>
        <h4>一、接受条款</h4>
        <p>1、用户点击网经社“电数宝”注册页面的“同意注册”按钮并完成注册程序、获得账号和密码时，即视为用户完全接受本协议中的全部条款，与网经社达成《网经社电数宝用户协议》。</p>
        <p>2、电数宝在此特别提示，用户欲使用电数宝服务，必须事先认真阅读本协议全部条款（未成年人阅读时应得到其监护人的陪同），特别是本协议中免除、减轻或者限制电数宝责任的全部条款以及含有限制用户权利内容的全部条款。</p>
        <p>3、用户下载、注册、登录、使用电数宝服务等行为均将被视为用户完全了解、接受并同意遵守本协议项下的全部内容。本协议可由电数宝随时修改，修改后的协议条款一经电数宝公布即代替本协议的原条款，构成用户与电数宝之间就本协议主题事由的全部、最新协议。用户可随时在电数宝网站查阅最新协议条款。如果用户不接受电数宝修改后的最新协议条款，请立即停止使用电数宝服务。如用户选择继续使用电数宝服务，则视为用户完全了解、接受并同意遵守电数宝修改后的最新协议条款。</p>
        <p>4、用户特此声明，已经完全理解本协议相关内容，并不存在任何重大误解；同时，认可协议内容并不存在有失公平的情形。</p>
        <h4>二、用户信息条款</h4>
        <p>1、用户个人信息。用户个人信息包括下列信息：用户真实姓名，职业，头像，手机号码，IP地址。</p>
        <p>2、非用户个人信息。用户对电数宝服务的操作状态、使用记录、使用习惯等反映在电数宝服务器端的全部记录信息，及其他一切本条第1款所述的用户个人信息范围外的信息，均为普通信息，均不属于用户个人信息。</p>
        <p>3、重要提示：为向客户提供电数宝服务，电数宝将可能合理使用用户个人信息、非用户个人信息及第三方平台记录信息（以下合称“用户信息”）。用户一旦注册、登陆、使用电数宝服务，将视为用户完全了解、同意并接受电数宝通过包括但不限于收集、统计、分析、使用等方式合理使用用户信息。</p>
        <p>4、用户个人信息的使用目的、方式和范围。用户承诺其已完全了解：电数宝使用用户信息的目的在于：为用户提供更好地服务；使用用户信息的方式包括但不限于：收集、统计、分析、商业用途的使用等方式；使用用户信息的范围包括但不限于：本条第1、2、3款所定义的用户个人信息、非用户个人信息、第三方平台记录信息等。</p>
        <p>5、用户拒绝提供信息的方式及后果。用户可以通过停止使用电数宝服务，不再向电数宝提供用户信息。但是，用户此前同意电数宝使用的用户信息，电数宝不承担主动删除、销毁的责任。用户拒绝提供用户信息的，电数宝可以随时停止提供服务。</p>
        <p>6、用户授权的明确性。用户注册、登陆、使用电数宝服务的行为，即视为明确同意电数宝收集和使用其用户信息，无需其他意思表示。电数宝对用户信息的使用无需向用户支付任何费用。</p>
        <p>7、电数宝承诺：尊重授权用户的合法权利，尊重授权用户的自由选择权，不会以违反法律、行政法规以及本协议约定的方式收集、使用用户信息。</p>
        <p>8、对由于用户不正当使用本网站服务、或依据本网站信息进行交易引起的对任何第三方的损害不承担任何赔偿责任。</p>
        <h4>三、电数宝服务使用规则</h4>
        <p>1、用户完全了解并同意：用户对以其帐号注册、登陆、使用电数宝服务的全部行为，包括其提供给电数宝的全部用户信息、以其电数宝服务账号进行的所有行为和事件独立承担完全的法律责任。</p>
        <p>2、用户同意在使用电数宝服务过程中，严格遵守以下规则：</p>
        <ul>
            <li>（1）遵守中国法律、法规、行政规章及规范性文件；</li>
            <li>（2）遵守电数宝所有与电数宝服务有关的协议、规定、程序、通知、使用守则等全部文件；</li>
            <li>（3）不得为任何违法、犯罪目的而使用电数宝服务；</li>
            <li>（4）不得以任何形式使用电数宝服务侵犯电数宝的合法权利；</li>
            <li>（5）不得利用电数宝服务进行任何可能对互联网正常运转造成不利影响的行为；</li>
            <li>（6）不得利用电数宝提供的服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、种族歧视性的、辱骂性的、恐吓性的、情色的或其他任何非法的信息资料；</li>
            <li>（7）不得以任何方式侵犯其他任何人依法享有的专利权、著作权、商标权、商业秘密等知识产权，第三人的名誉权或其他任何第三方的合法权益；</li>
            <li>（8）保证在电数宝服务上展示的相关信息内容，包括但是不限于在前条“二、用户信息条款”中的内容，没有违反相关法律规定，没有侵犯第三方的合法权利。</li>
        </ul>
        
        <p>3、电数宝有权对用户使用电数宝服务的情况进行审查和监督，如用户在使用电数宝服务时违反任何上述约定，电数宝有权要求用户改正或直接单方面采取一切必要措施，以消除或减轻用户不当行为给电数宝、第三方、互联网服务或社会公共利益造成的任何影响。电数宝在进行前述操作前，操作过程中或操作完成后不对用户进行任何方式的通知。</p>
        <p>4、用户在使用电数宝各项服务的同时，同意接受电数宝发布、推送、提供的各类信息。</p>
        <p>5、用户同意，电数宝有权随时变更、中止或终止部分或全部的电数宝服务，电数宝无需就此通知用户，且电数宝不因此对用户或任何第三方承担任何责任。</p>
        <h4>四、信息披露的免责条款</h4>
        <p>电数宝将按照法律法规的规定及行业规范使用用户信息，不向任何无关的第三方披露用户个人信息中能够对用户个人进行身份辨识的用户个人信息或用户个人通讯信息，但有下列情形之一的除外：</p>
        <ul>
            <li>1、事先获得了用户的明确授权；</li>
            <li>2、为了维护公众以及电数宝的合法利益；</li>
            <li>3、电数宝可能会与第三方合作向用户提供相关的网络服务，在此情形下，如果第三方同意承担与本协议约定的用户隐私保护条款同等的责任，则电数宝有权将用户信息提供给该等第三方，无需获得用户的另行同意；</li>
            <li>4、按照有关的法律法规要求；</li>
            <li>5、按照相关政府主管部门、司法机关的要求。</li>
        </ul>
        <p>用户完全了解并同意，发生上述任何一种或多种情形时，电数宝对向任何第三方披露用户信息的行为不承担任何责任。</p>
        <h4>五、知识产权</h4>
        <p>1、“知识产权”是指与电数宝服务相关的各种类的过去有效的、现行有效的、或即将产生的知识产权，包括但不限于发明专利、商标、著作权、实用新型、外观设计、布图设计、商业秘密、其他知识产权以及相关申请的权利。</p>
        <p>2、电数宝为与电数宝服务相关的全部知识产权的权利人，对电数宝服务提供过程中包含的全部知识产权，包括但不限于任何文本、图片、图形、音频和/或视频资料享有及保留完整、独立的全部权利。</p>
        <p>对于电数宝享有版权的内容，未经电数宝同意，用户不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行电数宝享有知识产权的或者电数宝服务提供任何资料和信息，也不得将前述资料和信息用于任何商业目的；未经电数宝书面同意与许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用，或通过非常规方式（如：恶意抓取、攻击等）影响电数宝的正常服务，任何人不得擅自以软件程序自动获得电数宝数据。否则，电数宝将依法追究法律责任。</p>
        <p>3、电数宝为了服务及数据的完整性，会通过用户贡献、第三方数据合作的方式提供部分信息，该部分版权为用户、第三方数据上所有，电数宝会进行标注和说明。</p>
        <p>4、对于用户本人创作并上传到电数宝网站或平台的任何文本、图片、图形、音频和或视频等，电数宝保留对其内容进行实时监控的权利，并有权依电数宝独立判断对任何违反本协议约定或涉嫌违法、违规的内容实施删除。电数宝对于删除用户作品引起的任何后果或导致用户的任何损失不负任何责任。</p>
        <p>5、本条款非经电数宝书面同意将持续有效，不因用户关闭电数宝服务账户或者停止使用电数宝服务而失效。</p>
        <h4>六、其他免责声明</h4>
        <p>1、信息依现状提供。电数宝提供的全部服务信息仅依照该等信息提供时的现状提供并仅供用户参考，电数宝不对信前述信息的准确性、完整性、适用性等做任何承诺和保证。用户应对电数宝提供的信息自行判断，并承担因使用前述信息而引起的任何、全部风险，包括因其对信息的正确性、完整性或实用性的任何依赖或信任而导致的风险。电数宝无需对因用户使用信息的任何行为导致的任何损失承担责任。</p>
        <p>2、对于因不可抗力或电数宝不能预料、或不能控制的原因（包括但不限于计算机病毒或黑客攻击、系统不稳定、用户不当使用账户、以及其他任何技术、互联网络、通信线路原因等）造成的包括但不限于用户计算机信息和数据的安全，用户个人信息的安全等给用户或任何第三方造成的任何损失等，电数宝不承担任何责任。</p>
        <p>3、由于用户以违法、违规或违反本协议约定等任何方式使用电数宝服务的行为，包括但不限于登录网站内容违法、不真实、不正当，侵犯第三方任何合法权益等，给电数宝或其他第三人造成的任何损失，用户同意承担由此造成的全部损害赔偿责任。</p>
        <p>4、用户完全了解并同意，在使用电数宝服务的过程中，可能存在来自任何其他第三方的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为，也可能存在对他人权利（包括知识产权）造成侵犯的匿名、冒名、或伪造的各种信息或行为，用户须自行判断相关内容、信息、行为的安全性等风险，并自行独立承担上述风险给电数宝或第三方造成的任何责任。</p>
        <p>5、电数宝及其合作方对电数宝服务的任何及全部内容不作任何形式的承诺或保证，不论是明确的或暗示的。前述承诺或保证包括但不限于：电数宝服务真实性、适销性、对特定用途的适用性、任何形式的所有权保证，非侵权保证等。电数宝对因前述未做承诺或保证的内容导致的任何直接、间接、偶然、特殊及后续的损害，不承担任何责任。</p>
        <h4>七、适用法律和争议解决</h4>
        <p>1、本协议的成立、生效、履行、解释及因本协议产生的任何争议，均适用中华人民共和国法律（不包括港澳台地区法律）。</p>
        <p>2、用户和电数宝之间与本协议有关的任何争议，首先应友好协商解决，在争议发生之日起三十日内仍不能通过协商达成一致的，用户在此完全、不可撤销地同意将前述争议提交北京岁月桔子科技有限公司住所地的人民法院进行诉讼。</p>
        <h4>八、其他规定</h4>
        <p>1、如本协议中的任何条款因任何原因完全或部分无效或不具有执行力，均不影响本协议其他条款的效力。</p>
        <p>2、本协议及本协议任何条款内容的最终解释权及修改权归电数宝所有。若您对电数宝及本服务有任何意见，欢迎垂询电数宝。</p>
        <p>邮件联系：bigdata@netsun.com</p>
      </div>
    </div>
  </div>
</div>
<div id="ystk" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">《网经社电数宝隐私条款》</h4>
      </div>
      <div class="modal-body">
        <h4>隐私政策</h4>
        <p>电数宝尊重并保护所有使用电数宝网络服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，电数宝会按照本隐私权政策的规定使用和披露您的个人信息。</p>
        <p>电数宝致力于通过信息和数据的生产、聚合、挖掘、加工、处理，帮助目标用户和客户节约时间和金钱、提高效率，以辅助其各类商业行为，包括风险投资、收购、竞争情报、细分行业信息等。</p>
        <p>您在同意电数宝网络服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于电数宝网络服务使用协议不可分割的一部分。请注意电数宝会不时地会检查其隐私措施，因此有关的措施会随之变化。我们恳请您定期光顾本页以确保对我们隐私政策最新版本始终保持了解。在阅读完本政策之後，如果您对电数宝的隐私措 施有进一步的问题，请与bigdata@netsun.com 联系。</p>
        <h4>1. 适用范围</h4>
        <p>A） 在您注册电数宝帐号时，您根据电数宝要求提供的个人注册信息；</p>
        <p>B） 在您使用电数宝网络服务，或访问电数宝平台网页时，电数宝自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；</p>
        <p>C） 电数宝通过合法途径从商业伙伴处取得的用户个人数据。</p>
        <p>您了解并同意，以下信息不适用本隐私权政策：</p>
        <p>A） 您在使用电数宝平台提供的搜索服务时输入的关键字信息；</p>
        <p>B）电数宝收集到的您在电数宝发布的有关信息数据，包括但不限于参与活动及评价详情；</p>
        <p>C） 违反法律规定或违反电数宝规则行为及电数宝已对您采取的措施。</p>
        <h4>2. 信息使用</h4>
        <p>A） 为服务用户的目的，电数宝可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与电数宝合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。</p>
        <p>B） 用户提供给电数宝的信息，电数宝会进行收集、整理和妥善处置。然而，电数宝还与合作伙伴公司共同推出部分服务，为了使电数宝能够向其用户提供共同推出的服务，电数宝可能必须与合作公司共享用户信息。电数宝将督促合作公司参照本政策的规定保护用户信息。</p>
        <h4>3. 信息披露</h4>
        <p>在如下情况下，电数宝将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：</p>
        <p>A） 经您事先同意，向第三方披露；</p>
        <p>B） 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；</p>
        <p>C） 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
        <p>D） 如您出现违反中国有关法律、法规或者电数宝服务协议或相关规则的情况，需要向第三方披露；</p>
        <p>E） 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</p>
        <p>F） 其它电数宝根据法律、法规或者网站政策认为合适的披露。</p>
        <h4>4. 信息存储和交换</h4>
        <p>电数宝收集的有关您的信息和资料将保存在电数宝及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或电数宝收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>
        <h4>5. Cookie的使用</h4>
        <p>A） 在您未拒绝接受cookies的情况下，电数宝会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的电数宝平台服务或功能电数宝使用cookies可为您提供更加周到的个性化服务，包括推广服务。</p>
        <p>B） 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的电数宝网络服务或功能。</p>
        <p>C） 通过电数宝所设cookies所取得的有关信息，将适用本政策。</p>
        <h4>6. 信息安全</h4>
        <p>A） 电数宝帐号均有安全保护功能，请妥善保管您的用户名及密码信息。电数宝将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。</p>
        <p>B） 在使用电数宝网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是电数宝用户名及密码发生泄露，请您立即联络电数宝客服，以便电数宝采取相应措施。 </p>
        <h4>7. 免责</h4>
        <p>下列情况时本网站亦毋需承担任何责任：</p>
        <p>A） 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</p>
        <p>B） 任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。</p>
        <p>C） 由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。</p>
        <p>D） 用户使用时，不得存在连续、频繁的查询操作行为，否则我们的后台将自动对您的账号封号且无需向您承担任何责任。</p>
        <h4>8. 外部链接</h4>
        <p>电数宝包含一些外部网站的链接。电数宝对这些网站的隐私管理和行为不承担责任。当跳转到外部网站时，用户请阅读该网站的隐私政策。这里提供的隐私条例仅供电数宝收集管理会员信息所用。 </p>
        <h4>9. 与网站联系</h4>
        <p>如果你有与隐私保护，政策实施或网站操作有关的问题，请将意见或建议发送至我们的邮箱:bigdata@netsun.com</p>
        <p>最后，您是唯一对您的账号和密码信息负有保密责任的人。任何情况下，请小心妥善保管。</p>
      </div>
    </div>
  </div>
</div>

<script src="__PJ__/home/js/jquery.min.js"></script>
<script src="__PJ__/home/js/bootstrap.min.js"></script>
<script src="__PJ__/home/js/user/dsbLogin.js"></script>
</body>
</html>