<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>“电数宝”电商大数据库  电子商务研究中心</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<link href="__PJ__/home/css/swiper.min.css" rel="stylesheet">
	<link href="__PJ__/home/css/100ec_style.css" rel="stylesheet">
	<link href="__PJ__/home/css/finance.css" rel="stylesheet">
	<link href="__PJ__/home/css/dsj-nav.css" rel="stylesheet">
	<link href="__PJ__/home/css/dsb-product.css?v=1.1" rel="stylesheet">
	<script src="__PJ__/home/js/jquery.min.js"></script>
	<style>
		.dsb-head-bg {
			background-image: radial-gradient(circle at 50% 0%, #24184C, #1C192B, #1C192B);
			background-image: radial-gradient(circle at 50% 0%, #093D5A, #0A1C3C, #0A172D);
			background-image: radial-gradient(circle at 50% -20%, #095A88, #081F48, #0A172D);
			background-image:radial-gradient(circle at 50% -20%, #0B77B5, #052358, #09101D);
		}
		.finance-main {
			background-image:radial-gradient(circle at 50% 50%, #0B77B5, #052358, #09101D);
		}
		.finance-footer .footer {
			background-color: #090F19
		}
		
	</style>
</head>
<body>
<div class="dsb-product-nav">
	<ul id="nav">
		<li data-href="product1">
			<p class="dsb-icon dsb-icon1"></p>
			<p class="dsb-icon-sub">产品介绍</p>
		</li>
		<li class="line"></li>
		<li data-href="product2">
			<p class="dsb-icon dsb-icon5"></p>
			<p class="dsb-icon-sub">涵盖领域</p>
		</li>
		<li class="line"></li>
		<li data-href="product3">
			<p class="dsb-icon dsb-icon2"></p>
			<p class="dsb-icon-sub">服务对象</p>
		</li>
		<li class="line"></li>
		<li data-href="product4">
			<p class="dsb-icon dsb-icon4"></p>
			<p class="dsb-icon-sub">数据平台</p>
		</li>
		<li class="line"></li>
		<li data-href="/Index/dsb_vip.html">
			<p class="dsb-icon dsb-icon3"></p>
			<p class="dsb-icon-sub">会员权益</p>
		</li>
	</ul>
</div>

<div class="product">
	<include file="Public/dsb-index-header"/>
</div>
<!-- 
<div class="dsb-header">
	<div class="dsb-container dsb-header-list">
		<div class="dsb-logo"><a href="" target="_blank"><img src="http://www.100ec.cn/Public/home/images/dsb-logo.png" alt=""></a></div>
		<ul class="dsb-nav">
			<li><a href="" target="_blank" class="register">注册</a></li>
			<li><a href="" target="_blank" class="login">登录</a></li>
		</ul>
	</div>
	
	
</div> -->

<div class="dsb-head-bg" id="headBg" style="padding-top: 0; height: 800px;">
	<div class="dsb-container" style="height: 100%">
		<div class="dsb-product-head-box">
			<div class="dsb-h-t">
				<p class="dsb-h-t-title">网经社"电数宝" —— 创业、研究、决策，电商人的“好参谋”</p>
				<p class="dsb-h-t-mbtitle">网经社"电数宝"</p>
				<p class="dsb-h-t-mbtitle2">创业、研究、决策，电商人的“好参谋”</p>
				<!-- <p class="dsb-h-t-sub">电商人的“好参谋”</p> -->
			</div>
			<div class="dsb-h-s-box">
				<input type="text" class="dsb-h-s-input" id="cpyName" name="cpyName" placeholder="输入需要检索的相关电商公司名" autocomplete="off">
				<div class="dsb-h-s-btn" id="sBtn" title="搜索"></div>
			</div>

			<!-- <div class="dsb-head-title">
				<p>网经社</p>
				<p>电数宝</p>
			</div> -->
			<div class="dsb-head-sub">
				<p>电商大数据库</p>
			</div>

			<!-- <div class="dsb-head-sub2">
				<p>电商人创业、研究、决策的“好参谋”</p>
			</div> -->
			<div class="dsb-head-icon-next">
			</div>
		</div>
		
	</div>
	
	<!-- <div id="particles-js"></div> -->
</div>


<div class="finance-main" id="product1">
	<div class="dsb-container" >

		<div class="dsb-section">
			<div class="dsb-title ">
				<p class="dsb-title-name">产品介绍</p>
				<p class="dsb-title-EN">- Product&nbsp;&nbsp;&nbsp;Introduction -</p>
				<p class="dsb-content">“电数宝”基于网经社电商行业12年沉淀，致力于打造专业的“电商大数据库”。通过数据可视化形式帮助电商人士、商家卖家、研究人员、创投人士、高校师生、政府人士等了解电商行业，挖掘行业市场潜力，助力企业决策，做电商人研究、决策的“好参谋”。<a href="/Index/dsb_vip.html" target="_blank" style="color:#00ffff; font-weight: bolder;">了解会员权益 >></a></p>
			</div>
		</div>

		<div class="dsb-section-box introduction">
			<div class="dsb-product-goods">
				<div class="goods-item"><p><a href="http://www.100ec.cn/zt/zxdsj/" target="_blank">12年沉淀</a></p></div>
				<div class="goods-item"><p>10万+条数据</p></div>
				<div class="goods-item"><p>覆盖4000+电商</p></div>
			</div>
			<div class="dsb-product-characteristic">
				<div class="characteristic-item">
					<p>覆盖面广</p>
					<div class="characteristic-sub">汇集产业电商、零售电商、生活服务电商、跨境电商、物流科技、金融科技等领域，包括评级、财报、独角兽、投融资、月活等多维度数据。</div>
				</div>
				<div class="characteristic-item">
					<p>数据量大</p>
					<div class="characteristic-sub">对可追溯数据进行统计处理，包括电商领域：<span>60+</span>上市公司招股书、<span>300+</span>招股书和路演PPT、<span>1000+</span>份财报、<span>4000+</span>电商公司<span>20年+</span>数据、<span>150+</span>独角兽数据、<span>200+</span>千里马数据等。</div>
				</div>
				<div class="characteristic-item">
					<p>功能丰富</p>
					<div class="characteristic-sub">除能查看数据外，还可<span>一键生成图表下载、数据对比分析、数据统计、自定义标题与图表颜色、添加用户专属LOGO</span>等多种实用功能。</div>
				</div>
			</div>
			<div class="connect">
				<div class="connect-line connect-line-a"></div>
				<div class="connect-line connect-line-b"></div>
				<div class="connect-line connect-line-c"></div>
				<div class="connect-line connect-line-d"></div>
				<div class="connect-line connect-line-e"></div>
				<div class="connect-line connect-line-f"></div>
				<div class="connect-line connect-line-g"></div>
				<div class="connect-line connect-line-h"></div>
				<div class="connect-dian"></div>
				<div class="connect-name-a">优势</div>
				<div class="connect-name-b">特色</div>
			</div>
		</div>

	</div>
</div>

<div class="finance-main" id="product2">
	<div class="dsb-container" >

		<div class="dsb-section">
			<div class="dsb-title ">
				<p class="dsb-title-name">涵盖领域</p>
				<p class="dsb-title-EN">- Coverage&nbsp;&nbsp;&nbsp;Area -</p>
				<p class="dsb-content">网经社“电数宝”电商大数据库专注于泛电商领域，主要包括零售电商、服务电商、产业电商、跨境电商以及的电商相关的物流科技、金融科技。<a href="/Index/dsb-reg.html" target="_blank" style="color:#00ffff; font-weight: bolder;">马上体验 >></a></p>
			</div>
		</div>
		<div class="dsb-section-box area">

			<div class="dsb-section-item">
				<p>- 零售电商 -</p>
				<ul>
					<li>行业数据</li>
					<li>评级数据</li>
					<li>财报数据</li>
					<li>股价数据</li>
					<li>新三板数据</li>
					<li>独角兽数据</li>
					<li>千里马数据</li>
					<li>投融资数据</li>
				</ul>
			</div>
			<div class="dsb-section-item">
				<p>- 服务电商 -</p>
				<ul>
					<li>行业数据</li>
					<li>评级数据</li>
					<li>财报数据</li>
					<li>股价数据</li>
					<li>新三板数据</li>
					<li>独角兽数据</li>
					<li>千里马数据</li>
					<li>投融资数据</li>
				</ul>
			</div>
			<div class="dsb-section-item">
				<p>- 产业电商 -</p>
				<ul>
					<li>行业数据</li>
					<li>评级数据</li>
					<li>财报数据</li>
					<li>股价数据</li>
					<li>新三板数据</li>
					<li>独角兽数据</li>
					<li>千里马数据</li>
					<li>投融资数据</li>
				</ul>
			</div>
			<div class="dsb-section-item">
				<p>- 跨境电商 -</p>
				<ul>
					<li>行业数据</li>
					<li>评级数据</li>
					<li>财报数据</li>
					<li>股价数据</li>
					<li>投融资数据</li>
				</ul>
			</div>
			<div class="dsb-section-item">
				<p>- 物流科技 -</p>
				<ul>
					<li>行业数据</li>
					<li>财报数据</li>
					<li>独角兽数据</li>
					<li>千里马数据</li>
					<li>投融资数据</li>
				</ul>
			</div>
			<div class="dsb-section-item">
				<p>- 金融科技 -</p>
				<ul>
					<li>评级数据</li>
					<li>股价数据</li>
					<li>独角兽数据</li>
					<li>投融资数据</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="finance-main" id="product3">
	<div class="dsb-container" >

		<div class="dsb-section">
			<div class="dsb-title ">
				<p class="dsb-title-name">服务对象</p>
				<p class="dsb-title-EN">- Service&nbsp;&nbsp;&nbsp;Clients -</p>
				<!-- <p class="dsb-content">网经社“电数宝”电商大数据库数据涵盖领域包括零售电商、服务电商、产业电商、跨境电商、物流科技、金融科技。</p> -->
			</div>
		</div>
		<div class="dsb-section-box dsb-pt">

			<div class="dsb-section-swiper-item" style="height: 350px;">
				<!-- <div class="dsb-swiper"> -->
				<!-- Swiper -->
				  <div class="swiper-container" id="swiper2">
				    <div class="swiper-wrapper" style="text-align: center;">
				      <div class="swiper-slide">
							<div class="sjk-item">
								<div class="sjk-item-name">电商人士</div>
								<div class="sjk-item-sub">
									对电商行业数据、电商平台的财报、评级、股价、月活等数据有需求，通过数据有助于企业了解同行、用户、趋势，助力公司日常运营、重大决策。
								</div>
							</div>

				      </div>
				      <div class="swiper-slide">
							<div class="sjk-item">
								<div class="sjk-item-name">研究人员</div>
								<div class="sjk-item-sub">
									电商研究人员通过本数据平台能更加全面了解电商行业，有了数据的支撑，研究更加客观、精准。
								</div>
							</div>
				      </div>
				      <div class="swiper-slide">
							<div class="sjk-item">
								<div class="sjk-item-name">创投人士</div>
								<div class="sjk-item-sub">
									一级市场人士：融资数据库、行业数据库能帮助选择创业方向，此外对于的天使投资人、VC、PE等投资有参考决策作用。
									<br>
									二级市场人士：上市公司数据库、新三板电商财报数据库则能更好为二级市场证券分析师、投资经理、专业股民群体提供数据支撑。
								</div>
							</div>
				      </div>
				      <div class="swiper-slide">
							<div class="sjk-item">
								<div class="sjk-item-name">政府人士</div>
								<div class="sjk-item-sub">
									相关政府机构对电商行业、各主要电商平台等数据需求明确，通过数据能够详细了解行业、企业发展，对政府出台政策、扶持企业等起到参谋作用。
								</div>
							</div>
				      </div>
				      <div class="swiper-slide">
							<div class="sjk-item">
								<div class="sjk-item-name">高校师生</div>
								<div class="sjk-item-sub">
									教师：日常电商教学、科研、培训等最需要数据作支撑。
									<br>
									讲师：提供讲师备课所需电商各维度数据
									<br>学生：满足学生论文、调研、学习等的数据需求
								</div>
							</div>
				      </div>
				      <div class="swiper-slide">
							<div class="sjk-item">
								<div class="sjk-item-name">商家卖家</div>
								<div class="sjk-item-sub">
									对电商平台评级、月活、下载等数据有需求，通过数据了解平台发展情况，选择对合适自身产品的平台，减少因平台选择决策失误带来的“试错成本”。
								</div>
							</div>
				      </div>
				    </div>
				    <!-- 
				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div> -->
				    <div class="swiper-pagination"></div>
				  </div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>

<div class="finance-main" id="product4" style="background: #001621;padding: 0px 5px 50px;">

		<div class="dsb-section">
			<div class="dsb-title ">
				<p class="dsb-title-name">“电数宝”电商大数据库</p>
				<p class="dsb-title-EN">- Data&nbsp;&nbsp;&nbsp;Platform -</p>
				<p class="dsb-content" style="text-align: center;"><a style="color: #00ffff" href="https://www.100ec.cn/Index/dsb-reg.html" target="_blank">【 体验 demo 】</a></p>
			</div>
		</div>

		<div id="bigData">
			<div class="data-item left" style="overflow: hidden;">
				<div class="dsj-nav-box" style="position: relative; top: 0;width: 100%; height: 100%;background-color: #001017">
					<div class="dsj-nav" id="dsjNav" style="height: 800px;">
					</div>
				</div>
			</div>
			<div class="data-item center" id="trz"></div>
			<div class="data-item right" id="djs"></div>
		</div>
</div>

	
<div class="finance-footer">
	<include file="Public/footer"/>
</div>

<script src="__PJ__/home/js/echarts.min.js"></script>
<script src="__PJ__/home/js/china.js"></script>
<script src="__PJ__/home/js/swiper4.min.js"></script>
<script src="__PJ__/home/js/three.min.js"></script>
<script src="__PJ__/home/js/dsb/dsb_product_3d_bg.js"></script>
<script src="__PJ__/home/js/sjk/dataCgy_invest.js"></script>
<script src="__PJ__/home/js/sjk/dataCgy_dbleftnav.js"></script>
<script src="__PJ__/home/js/sjk/dbleftnav_product.js"></script>
<!-- <script src="__PJ__/home/js/dsb/dsb_hy_echarts.js"></script> -->
<script src="__PJ__/home/js/dsb/dsb_trz_echarts.js"></script>
<script src="__PJ__/home/js/dsb/dsb_djs_echarts.js"></script>
<script src="__PJ__/home/js/dsb/dsb.js?v=1.1"></script>

</body>
</html>