<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员权益 “电数宝”大数据库 </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<link href="__PJ__/home/css/100ec_style.css" rel="stylesheet">
	<link href="__PJ__/home/css/finance.css" rel="stylesheet">
	<link href="__PJ__/home/css/dsb-product.css" rel="stylesheet">
	<script src="__PJ__/home/js/jquery.min.js"></script>
	<style>
		.dsb-head-bg {
			background-image:radial-gradient(circle at 50% -20%, #0B77B5, #052358, #09101D);
		}
		.finance-main {
			background-image:radial-gradient(circle at 50% 50%, #0B77B5, #052358, #09101D);
		}
		.finance-footer .footer {
			background-color: #090F19
		}
		
	</style>
</head>
<body>
	
<include file="Public/dsb-index-header"/>

<div class="finance-main dsb-product" id="product5">
	<div class="dsb-container" >
		<div class="dsb-section">
			<div class="dsb-title ">
				<p class="dsb-title-name">会员价格</p>
				<p class="dsb-content">“电数宝”大数据库会员服务，可免费注册试用账号，访问数据库时限为5分钟。<a href="/Index/dsb-reg.html" target="_blank" style="color: #00ffff;font-weight: bolder;">快速注册 >></a></p>
				<!-- <p class="dsb-content" style="text-align: center;color: #00ffff;">VIP：600元/1年 —— 900元/2年 —— 1200元/3年<a href="" target="_blank" style="color: #f90">【我要购买】</a></p> -->
			</div>
		</div>
		<div class="vip-cgy">
			<div class="vip-cgy-item vip1">
				<!-- <div class="vip-hot">推荐</div> -->
				<i class="dsb-vip"></i>
				<p class="vip-name">VIP 1月</p>
				<p>体验价：298元</p>
				<p>&nbsp;</p>
				<p><a href="/Index/dsb_pay.html" target="_blank">快速购买</a></p>
				<div class="qiu-bg"></div>
			</div>
			<div class="vip-cgy-item vip1">
				<!-- <div class="vip-hot">限时促销</div> -->
				<!-- <p class="yuanjia"></p>--> 
				<i class="dsb-vip"></i>
				<p class="vip-name">VIP 1季度</p>
				<p>698元</p>
				<p>&nbsp;</p>
				<p><a href="/Index/dsb_pay.html" target="_blank">快速购买</a></p>
				<div class="qiu-bg"></div>
			</div>
			<div class="vip-cgy-item vip1">
				<!-- <div class="vip-hot">限时促销</div> -->
				<i class="dsb-vip"></i>
				<p class="vip-name">VIP 1年</p>
				<p>998元</p>
				<p>&nbsp;</p>
				<p><a href="/Index/dsb_pay.html" target="_blank">快速购买</a></p>
				<div class="qiu-bg"></div>
			</div>
			<div class="vip-cgy-item vip2">
				<!-- <div class="vip-hot">限时促销</div> -->
				<i class="dsb-vip"></i>
				<p class="vip-name">VIP 2年</p>
				<p>1698元</p>
				<p>&nbsp;</p>
				<p><a href="/Index/dsb_pay.html" target="_blank">快速购买</a></p>
				<div class="qiu-bg"></div>
			</div>
			<!-- <div class="vip-cgy-item vip3">
				<div class="vip-hot">限时促销</div>
				<i class="dsb-vip"></i>
				<p class="vip-name">VIP 3年</p>
				<p>优惠价：1200元</p>
				<p class="yuanjia">原价：3600元</p>
				<p><a href="/Index/dsb_pay.html" target="_blank">快速购买</a></p>
				<div class="qiu-bg"></div>
			</div> -->
		</div>
		<!-- <p class="vip-box-bottom-p">2020年1月31日后，“电数宝”会员将恢复原价。</p> -->

		<div class="dsb-section">
			<div class="dsb-title ">
				<p class="dsb-title-name">会员权益表</p>
				<p class="dsb-title-EN">- User&nbsp;&nbsp;&nbsp;Rights&nbsp;&nbsp;&nbsp;And&nbsp;&nbsp;&nbsp;Interests -</p>
			</div>
		</div>
		<div class="vip-box">
				<div class="vip-box-row">
					<!-- <div class="vip-service-name vip-row-item"><p>用户权益</p></div> -->
					<div class="vip-service-sub vip-row-item"><p></p></div>
					<div class="vip-level vip-row-item"><p>访客</p></div>
					<div class="vip-level level2 vip-row-item"><p style="color: #333">VIP</p></div>
				</div>

				<h2 class="vip-title2">基础数据库</h2>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>全球电商数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>对全球28个主要国家电商数据进行监测、统计，包括电商交易额、增长率、网络零售交易额、互联网普及率等。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>电商行业数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>包含电商整体行业数据、产业电商数据、零售电商数据、生活服务电商数据、跨境电商数据、共享经济数据和物流科技数据(60+细分电商行业)的各类相关指标。包括历年的交易规模、用户规模、渗透率、融资是数、融资金额等重要数据字段。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>电商产业园库</p></div>
						<div class="vip-service-sub info-item">
							<p>对全国各地电子商务产业园进行监测、统计、对比，涵盖31个省市自治区、300+城市、2000+个电商产业园数据。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="yes">√</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>电商上市公司财报数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>对60+电商上市公司历年财报核心数据进行统计、对比，涵盖1000+财报、500+的招股书全文下载，以及实时股价数据。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>电商上市公司股价数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>对各电商上市公司公开披露的历年财报数据进行统计、对比、分析，以及60+电商上市公司历年来1000+的财报和500+的招股书全文下载链接。以及实时股价数据，含今日开盘、昨日收盘、涨跌额、涨跌幅、现价等最新数据。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="yes">√</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>新三板电商财报数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>对各新三板挂牌电商公司公开披露的历年财报数据进行统计、对比，以及50+公司招股书及500+历年财报下载。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>电商独角兽数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>150+估值超10亿美元的独角兽企业最新估值及投融资数据；</p>
							<p>200+估值超1亿美元低于10亿美元的千里马企业最新估值数据及投融资数据。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>
				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>电商评级数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>通对1500+电商平台的反馈情况、回复时效性、用户满意度等指标建立评级模型，求得综合指数，并为网购消费者提供各电商平台的消费评级和下单建议。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="yes">√</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>


				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>电商投融资数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>4000+电商平台历次投融资时间、融资轮次、融资金额及投资方数据</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>
				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>AppStore数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>对苹果AppStore各类下载量排行榜数据进行监测，并可以根据应用名、开发者名、app id查询到App基础信息、版本更新情况、近期各用户评论评分、历史平均评分。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>
				<div class="vip-box-row warn-text">
					数据库持续增加中，并且会员服务期内无需支付额外费用。
				</div>

				<h2 class="vip-title2">公司数据库</h2>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item more-col"><p>上市公司</p><p>新三板公司</p><p>独角兽公司</p><p>千里马公司</p></div>
						<div class="vip-service-sub info-item">
							<p>该数据库涵盖包括电商上市公司、新三板、独角兽、千里马在内的近400家头部平台，数据覆盖上市公司股价、上市/新三板财报数据、电商评级数据、投融资数据、AppStore数据、月活数据等。各类数据访问权限同上。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="yes">√</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<h2 class="vip-title2">领域数据库</h2>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item more-col"><p>零售电商数据库</p><p>产业电商数据库</p><p>跨境电商数据库</p><p>生活服务电商数据库</p><p>金融科技数据库</p><p>物流科技数据库</p></div>
						<div class="vip-service-sub info-item">
							<p>网经社“电数宝”专注于泛电商领域，数据主要涵盖了零售电商、服务电商、产业电商、跨境电商四大领域，此外也涉及电商相关的物流科技、金融科技两大领域。数据类型包括60+电商上市公司财报库、股价数据库，150家估值超10亿的独角兽企业的最新估值以及电商行业的数据库等</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p>限时</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>

				<h2 class="vip-title2">数据库功能<a href="http://www.100ec.cn/Index/dsb_help.html" target="_blank" style="color: #fff;margin-left: 20px;font-weight: bold;font-size: 15px;">【使用手册】</a></h2>

				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>多维度对比</p></div>
						<div class="vip-service-sub info-item">
							<p>自定义时间段、字段名等多维度系统生成多类型对比图表。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="no">×</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>
				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>图表化</p></div>
						<div class="vip-service-sub info-item">
							<p>一键生成图表功能，适用于word、ppt、pdf等工作报表，便于浏览。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="no">×</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>
				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>自定义图表样式</p></div>
						<div class="vip-service-sub info-item">
							<p>数据库工具栏供用户对一键图表化的图表进行编辑样式。</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="no">×</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>
				<div class="vip-box-row">
					<div class="vip-row-item vip-service-info">
						<div class="vip-service-name info-item"><p>图表/数据文件下载</p></div>
						<div class="vip-service-sub info-item">
							<p>用户后台可进行数据文件下载，数据库界面可进行图表下载</p>
						</div>
					</div>
					<div class="vip-level level1 vip-row-item"><p class="no">×</p></div>
					<div class="vip-level level2 vip-row-item"><p class="yes">√</p></div>
				</div>
				<div class="vip-box-row warn-text">
					功能持续增加中，并且会员服务期内无需支付额外费用。
				</div>

			</div>
			<p class="vip-box-bottom-p">依托于网经社12年电商行业沉淀、10万+条“电数宝”大数据库、100000+电商产业链等资源，我们为电商平台、服务商、品牌商提供数据报告定制服务，为投融资、消费决策、市场调研、IPO、品牌宣传等提供权威、专业数据支撑，以及承担有关部委、地方政府委托的项目课题、数据报告。</p>
			<p class="vip-box-bottom-p">网经社“电数宝”会员是虚拟服务产品，暂不接受退款。用户支付升级为会员后，我们默认为用户对我们付费服务的认同及接受。</p>
	</div>
</div>

<div class="finance-footer">
	<include file="Public/footer"/>
</div>

</body>
</html>